apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: acs-config
  namespace: openshift-gitops
spec:
  destination:
    namespace: stackrox
    server: 'https://kubernetes.default.svc'
  project: cluster-config
  source:
    path: bootstrap/infra/acs-config
    repoURL: 'https://github.com/OpenShiftDemos/advanced-devsecops-workshop'
    targetRevision: main
    helm:
        values: |
          users: "{% raw %}{{ users }}{% endraw %}"
          sub_domain: {{ sub_domain }}
  syncPolicy:
    automated:
      selfHeal: true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
