apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: shared-gitops
  namespace: openshift-gitops
spec:
  destination:
    namespace: gitops
    server: 'https://kubernetes.default.svc'
  project: cluster-config
  syncPolicy:
    automated:
      prune: false
      selfHeal: true
  source:
    path: bootstrap/infra/gitops/overlays/shared
    repoURL: 'https://github.com/OpenShiftDemos/advanced-devsecops-workshop'
    targetRevision: main
    helm:
        values: |
          users: "{{ users }}"
          sub_domain: {{ sub_domain }}
